body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
    
}
.nmcolour{
    color: orangered;
}
.half-with{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 1%;
    
}
.half-with img{
    width: 100%;
}
